nav{
    /* background-color: #0779E4; */
     background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
   
   
}
nav a {
    color: white;
    text-decoration: none; 
}
.nav-items{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.hero-section{
    background-image: url(../Images/asset\ 2.jpeg);
    /* width: 100%; */
    height: 100vh;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content{
    width: 80%;
    margin: auto;
    color: white;
}
.bio{
    width: 60%;
    line-height: 2rem;
}

/* .text-white{
    color: white;
    text-decoration: none;   
} */

.text-bold{
    font: bold;
}
/* body{
 
} */